<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Blitz</title>
  <link rel="stylesheet" href="style.css">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body class="admin">

  <div class="container">

    <section class="header">
      <h3>Upload a CSV with your attendee data.</h3>
    </section>

    <section>
      <form>
        <input type="file" name="sheet" class="form-file-input"> 
        <!-- <input class="button-bottom" type="submit" value="Check In + Connect"> -->
        <a href="admin-success.html" class="button-bottom">Upload CSV</a>
      </form>
    </section>

  </div>

</body>
</html>
