<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Blitz</title>
  <link rel="stylesheet" href="style.css">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>

  <div class="container">

    <header class="header">
      <h3>Welcome to</h3>
      <h1>Bitcamp</h1>
    </header>

    <form class="form-login">
      <input type="text" name="email" placeholder="email address">
      <p class="small">Input your email from registration.</p>
      <input class="button-bottom" type="submit" value="Check In + Connect">
    </form>

  </div>

</body>
</html>
