<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Blitz</title>
  <link rel="stylesheet" href="style.css">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>

  <header class="header">
    <h3>Welcome to</h3>
    <h1>Bitcamp</h1>
  </header>

  <form>
    <input type="text" name="email" value="email address">
    <h4>Input your email from registration.</h4>
  </form>

  <button type="submit">
    Check In + Connect
  </button>

  <footer class="footer">
  </footer>

</body>
</html>
