<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Blitz</title>
  <link rel="stylesheet" href="style.css">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body class="waiver">

  <div class="container">

    <section class="header">
      <h2>Hey there, Jeff!</h2>
    </section>

    <section>
    <p>You're almost done.<br/> Just sign the waiver...</p>
    </section>

    <section>
      <p class="small left">As the undersigned Releasor, I recognize that this Release means I am giving up, among other things, all rights to sue Releasees for injuries, damages or losses I may incur. I also understand that this Release binds my heirs, executors, administrators, legal representatives and assigns, as well as myself. I agree that this Release shall be governed for all purposes by Maryland law, without regard to such law on choice of law.</p>
    </section>

    <section>
      <form class="form-login">
        <input type="text" name="signature" placeholder="Full Name" spellcheck="false">
        <p class="small">Provide your e-signature to validate the waiver.</p>
        <!-- <input class="button-bottom" type="submit" value="Check In + Connect"> -->
        <a href="success.html" class="button-bottom">Sign + Connect</a>
      </form>
    </section>

  </div>

</body>
</html>
