input[type="text"],input[type="email"] {
  background: none;
  border-bottom: 2px white solid;
  text-align: center;
  margin-bottom: 1rem;
  color: white;
  outline: 0;
  width: 100%;
  &:focus {
    outline: 0;
  }
}

::-webkit-input-placeholder {
    color: $trans-white;
    text-transform: lowercase;
    opacity: 50%;
}
:-moz-placeholder {
    color: $trans-white;
    text-transform: lowercase;
    opacity: 50%;
}
::-moz-placeholder {
    color: $trans-white;
    text-transform: lowercase;
    opacity: 50%;
}
:-ms-input-placeholder {
    color: $trans-white;
    text-transform: lowercase;
    opacity: 50%;
}

.form-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.form-file-input::before {
  content: 'Select File';
  display: block;
  // background: rgba(255,255,255,.1);
  border: 2px dashed white;
  border-radius: 4px;
  padding: 4rem 0;
  outline: none;
  cursor: pointer;
  text-align: center;
  width: 100%;
}

.form-file-input:hover::before {
  border-color: $trans-white;
}

