::-webkit-input-placeholder {
    color: rgba(255,255,255,.5);
    text-transform: lowercase;
    opacity: 50%;
}
:-moz-placeholder {
    color: rgba(255,255,255,.5);
    text-transform: lowercase;
    opacity: 50%;
}
::-moz-placeholder {
    color: rgba(255,255,255,.5);
    text-transform: lowercase;
    opacity: 50%;
}
:-ms-input-placeholder {
    color: rgba(255,255,255,.5);
    text-transform: lowercase;
    opacity: 50%;
}
