.header {
  margin-top: 5rem;
}

.form-login {
  margin-top: 12rem;
}

.button {
  border-radius: 4px;
  background: white;
  padding: 2rem 4rem;
  cursor: pointer;
  color: $blue;
  width: 100%;
  text-align: center;
}

.button-bottom {
  @extend .button;
  margin-top: 8rem;
}