@include font-face("Avenir", "/fonts/Avenir/Avenir-Regular", 400);
@include font-face("Avenir", "/fonts/Avenir/Avenir-Bold", 700);

body {
  line-height: 1.4;
  font-weight: 400;
  font-family: "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 6rem;
  font-weight: 900;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 2rem;
}

p.small {
  font-size: 1.25rem;
}