section {
  padding: 3rem 0;
  &:first-child {
    margin-top: 3rem;
  }
}

.button {
  display: block;
  border-radius: 1rem;
  background: white;
  padding: 4rem 2rem;
  cursor: pointer;
  color: $blue;
  width: 100%;
  text-align: center;
}

.button-bottom {
  @extend .button;
  margin-top: 10rem;
}

.user-avatar {
  border-radius: 50%;
  border: 1rem solid white;
  width: 30rem;
}

.directions {
  margin-top: 3rem;
}

.success-img {
  width: 80%;
}

.left {
  text-align: left;
}
