@import "reset";
@import "mixins";
@import "variables";

.container {
  width: 80%;
  margin: 0 auto;
}

html {
  font-size: 16px;
}

body {
  font-size: 2em;
  text-align: center;
  background: $blue;
  color: white;
  background-image: url("/images/bg.svg");
  background-size: 40px 40px;
}

.home {
  background-color: $blue;
}

.success {
  background-color: $orange;
}

.admin {
  background-color: #ff4046;
}

@import "ui";
@import "type";
@import "form";