@import "reset";
@import "mixins";
@import "variables";

.container {
  width: 80%;
  margin: 0 auto;
}

html {
  font-size: 16px;
}

body {
  font-size: 2em;
  text-align: center;
  background: $blue;
  color: white;
}

.home {
  background: $blue;
}

.success {
  background: $orange;
}

@import "layout";
@import "type";
@import "form";