@import "reset";
@import "mixins";
@import "variables";

.container {
  padding: 0 3rem;
  margin: 0 auto;
}

html {
  font-size: 18px;
}

body {
  font-size: 4em;
  text-align: center;
  background: $blue;
  color: white;
  background-image: url("/images/bg.svg");
  background-size: 6rem 6rem;
  background-position: 0px 0px;
}

.home {
  background-color: $blue;
}

.success {
  background-color: $orange;
  animation-duration: .5s;
  animation-name: bg-translate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.admin {
  background-color: #ff4046;
}

@import "ui";
@import "type";
@import "form";
@import "animation";